html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #f3f3f3;
}

/* Seccion Header */

header {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;

}

nav {
  display: flex;
  color: #F3F3F3;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-left: 15px;
}

/* Seccion Main */

.container {
  margin: 80px 5% 0 5%;
  display: flex;
  justify-content: center;
  height: 60%;
  gap: 15px;
  padding-bottom: 80px;
  flex-wrap: wrap;
}

.container .flex-item {
  flex: 1;
  border-radius: 15px;
  padding: 15px;
  background-color: #ffffff;
  min-width: 450px;

}

.delivery {
  background-image: url("../img/delivery.jpg");
  background-size: cover;
  background-position: center;
}

.flex-item__title {
  color: #FC200C;
  font-size: 2em;
}

.podio h2 {
  text-align: center;
  margin-bottom: 50px;
}

.blanco {
  color: #FFF;
}


/* Seccion Podio e imagen */

.podio-interno {
  display: flex;
  justify-content: space-around;
}

.podioTitulOl {
  margin-top: 20px;
}

.podioTitulOl h3 {
  font-size: 1.5em;
  text-align: center;
}

.podioTitulOl ol {
  font-size: 1.25em;
  font-weight: bold;
}

.podioTitulOl li {
  margin: 10px 0;
}

.podioImgContainer {
  display: flex;
  align-items: center;
}

.podioImgContainer img {
  width: 120px;
}

/* Seccion Footer  */

footer {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
}

.footerNav {
  display: block;
  /* margin-top: 10px; */
}

.footerNav-ul {
  display: block;
}

.footerNav-ul li{
  display: block;
  margin:15px 0;
}

.footerLogo {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1083px){
  .container {
    height: initial;
  }

  /* .delivery {
    min-height: 420px;
  } */

  /* .delivery {
    background-position: top center;
  }

  .delivery h2 {
    padding: 40px 0;
  }  */
}